{
  "printWidth": 120,
  "semi": false,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true
}
