.section {
  max-width: 1200px;
  @include flex-column(center);
  gap: $spacing-xl;
  @include responsive(
    gap,
    (
      lg: $spacing-lg,
      md: $spacing-md,
      sm: $spacing-sm,
    )
  );

  .books {
    position: relative;
    height: 620px;
    width: 1150px;

    @include respond-max(xl) {
      width: unset;
      height: unset;
      @include flex-column(center, center);
      margin: 0 10vw;
      max-width: 450px;
      :first-child {
        .react {
          transform: rotate(15deg);
        }
      }
      a + a {
        margin-top: -20%;
        .next {
          transform: rotate(-15deg);
        }
        .reactNative {
          transform: rotate(0deg);
        }
      }
    }

    .react {
      transform: rotate(-30deg) translate(5%, 20%);
      left: 0;
    }

    .next {
      transform: translate(-50%, 0);
      left: 50%;
    }

    .reactNative {
      transform: rotate(30deg) translate(-5%, 22%);
      right: 0;
    }

    .react,
    .next,
    .reactNative {
      position: absolute;
      max-width: 450px;
      width: 100%;

      @include respond-max(xl) {
        position: static;
        transform: none;
      }
    }

    > *:nth-child(1) {
      z-index: 1;
    }
    > *:nth-child(2) {
      z-index: 2;
    }
    > *:nth-child(3) {
      z-index: 3;
    }
  }
}
