// Colors
$blue-color: #3f6dff;
$white-color: #fff;

// Fonts
$font-main: "PatrickHand", sans-serif;
$font-secondary: "Roboto", sans-serif;

// Spacings
$spacing-xl: 40px;
$spacing-lg: 30px;
$spacing-md: 20px;
$spacing-sm: 10px;

// HEADER //

// Text size
$header-text-xl: 48px;
$header-text-lg: 36px;
$header-text-md: 24px;
$header-text-sm: 14px;

// Header image sizes
$header-image-xl: 750px;
$header-image-lg: 550px;
$header-image-md: 350px;
$header-image-sm: 250px;

// BIO //

// Portrait image size
$portrait-image-lg: 300px;
$portrait-image-md: 200px;
$portrait-image-sm: 150px;

// PAPER //

// Paper image size
$paper-image-lg: 550px;
$paper-image-md: 350px;
$paper-image-sm: 250px;

// Paper line height
$paper-line-height-xl: 35px;
$paper-line-height-lg: 23.8px;
$paper-line-height-md: 15.2px;
$paper-line-height-sm: 10.8px;

// Paper font size
$paper-text-xl: 28px;
$paper-text-lg: 22px;
$paper-text-md: 16px;
$paper-text-sm: 12px;

// Paper title width
$paper-title-width-xl: 140px;
$paper-title-width-lg: 110px;
$paper-title-width-md: 80px;
$paper-title-width-sm: 60px;

// MAIN TECHNOLOGIES //

$tech-book-width-xl: 450px;
$tech-book-width-lg: 375px;
$tech-book-width-md: 300px;
$tech-book-width-sm: 200px;
