// Colors
$blue-color: #3f6dff;
$white-color: #fff;

// Fonts
$font-main: "PatrickHand", sans-serif;
$font-secondary: "Roboto", sans-serif;

// Spacings
$spacing-xl: 40px;
$spacing-lg: 30px;
$spacing-md: 20px;
$spacing-sm: 10px;
