@font-face {
  font-family: "PatrickHand";
  src: url("@/assets/fonts/PatrickHand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url("../assets/Background.png");
  background-repeat: repeat-y;
  background-position: top center;
  background-size: 100% auto;
}

* {
  font-family: $font-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blue-color;
}
