@font-face {
  font-family: "PatrickHand";
  src: url("@/assets/fonts/PatrickHand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: $font-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blue-color;
}
