.container {
  @include flex-column(center, center);
  height: fit-content;
  width: fit-content;
  color: white;
  text-decoration: unset;
  margin: clamp(0px, 1.25vw, 10px);

  .image {
    width: clamp(0px, 10vw, 80px);
    height: clamp(0px, 10vw, 80px);
    object-fit: contain;
    border-radius: 10%;
  }

  div {
    font-family: "Roboto", sans-serif;
    font-size: clamp(8px, 2vw, 16px);
  }
}
