.section {
  $gaps: (
    lg: $spacing-lg,
    md: $spacing-md,
    sm: $spacing-sm,
  );

  max-width: 1200px;
  @include flex-column(center);
  gap: $spacing-xl;
  @include responsive(gap, $gaps);

  .portraitImage {
    transform: rotate(-10deg);
    max-width: 368px;
    width: 100%;
    @include respond-max(xl) {
      transform: none;
    }
  }

  .content {
    @include flex(center, space-between);
    gap: 40px;
    @include respond-max(xl) {
      @include flex-column(center, center);
    }
    @include responsive(gap, $gaps);
  }
}
