.section {
  $gaps: (
    lg: $spacing-lg,
    md: $spacing-md,
    sm: $spacing-sm,
  );

  max-width: 1200px;
  @include flex-column(center);
  gap: $spacing-xl;
  @include responsive(gap, $gaps);

  .portraitImage {
    @include responsive(
      width,
      (
        lg: $portrait-image-lg,
        md: $portrait-image-md,
        sm: $portrait-image-sm,
      )
    );
  }

  .content {
    @include flex(center, space-between);
    @include respond-max(xl) {
      @include flex-column(center, center);
    }
    @include responsive(gap, $gaps);
  }
}
