.container {
  position: relative;
  @include flex(center, center);
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 10px;

  .headerImage {
    max-width: 768px;
    width: 100%;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    font-size: clamp(14px, 8vw, 48px);
  }
}
