.container {
  position: relative;
  @include flex(center, center);
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  .headerImage {
    width: $header-image-xl;
    @include responsive(
      width,
      (
        lg: $header-image-lg,
        md: $header-image-md,
        sm: $header-image-sm,
      )
    );
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    font-size: $header-text-xl;

    @include responsive(
      font-size,
      (
        lg: $header-text-lg,
        md: $header-text-md,
        sm: $header-text-sm,
      )
    );
  }
}
