.paper {
  position: relative;
  display: flex;

  .paperImage {
    transform: rotate(2deg);
    z-index: 1;
    max-width: 717px;
    width: 100%;
    @include respond-max(xl) {
      transform: none;
    }
  }

  .signature,
  .text {
    z-index: 2;
    transform: rotate(2deg);
    position: absolute;
    color: $blue-color;
    font-size: clamp(12px, 100vw * 0.045, 28px);

    @include respond-max(xl) {
      transform: none;
    }
  }

  .text {
    @include flex-column;
    aspect-ratio: 540 / 645;
    margin-left: 18%;
    margin-top: 8.5%;
    --lh: 32.5px;
    line-height: var(--lh);
    gap: var(--lh);
    height: 82.3%;

    .section {
      @include flex-column();
      .row {
        @include flex();
        .title {
          width: 30%;
        }
      }
    }
  }

  .signature {
    text-decoration: underline;
    bottom: 11%;
    right: 10%;
  }
}
