.paper {
  position: relative;

  .paperImage {
    @include responsive(
      width,
      (
        lg: $paper-image-lg,
        md: $paper-image-md,
        sm: $paper-image-sm,
      )
    );
  }

  .signature,
  .text {
    transform: rotate(2deg);
    position: absolute;
    color: $blue-color;
    line-height: $paper-line-height-xl;
    font-size: $paper-text-xl;

    @include responsive(
      line-height,
      (
        lg: $paper-line-height-lg,
        md: $paper-line-height-md,
        sm: $paper-line-height-sm,
      )
    );

    @include responsive(
      font-size,
      (
        lg: $paper-text-lg,
        md: $paper-text-md,
        sm: $paper-text-sm,
      )
    );
  }

  .text {
    padding: 10% 7% 0 20%;

    .section {
      @include flex-column();
      margin-bottom: $paper-line-height-lg;

      @include responsive(
        margin-bottom,
        (
          lg: $paper-line-height-lg,
          md: $paper-line-height-md,
          sm: $paper-line-height-sm,
        )
      );

      .row {
        @include flex();

        .title {
          $paper-title-widths: (
            lg: $paper-title-width-lg,
            md: $paper-title-width-md,
            sm: $paper-title-width-sm,
          );

          width: $paper-title-width-xl;
          @include responsive(
            width,
            (
              lg: $paper-title-width-lg,
              md: $paper-title-width-md,
              sm: $paper-title-width-sm,
            )
          );
        }
      }
    }
  }

  .signature {
    text-decoration: underline;
    bottom: 12.5%;
    right: 10%;
  }
}
