.content {
  @include flex-column(center);

  section:first-of-type {
    margin-top: 70px;
  }

  section {
    margin-bottom: calc($spacing-xl * 5);
    @include responsive(
      margin-bottom,
      (
        lg: calc($spacing-lg * 5),
        md: calc($spacing-md * 5),
        sm: calc($spacing-sm * 5),
      )
    );
  }
}
